<html>
    <head>

    </head>
    <body>
        <h1>This is the home/landing page to sign in</h1>
        <form action="/signin" method="POST">
            Login:<br>
            <input type="text" name="login"><br>
            Password:<br>
            <input type="password" name="pw"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>