<html>
    <head>
    </head>
    <body>
        <h1>This is the Sign up page</h1>
        <form action="/addUser" method="get">

            Name:<br>
            <input type="text" name="name"><br>
            Username:<br>
            <input type="text" name="login"><br>
            Password:<br>
            <input type="password" name="pw"><br><br>
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>