<html>
    <head>
        <script>
        function updatePassword() {
            var x = document.getElementById("pwReset")
            x.style.display = "block"
        }
        </script>
    </head>
    <h1>Hello, {{name}}</h1>
    <button onclick="updatePassword()">Reset Password</button><br>
    <button><a href="/logout" style="text-decoration: none">Log Out</a></button><br><br>

    <form id="pwReset" action="/resetPassword" method="post" style="display: none">

        Current Password:<br>
        <input type="password" name="oldPW"><br>
        New Password:<br>
        <input type="password" name="newPW"><br><br>
        <input type="text" name="userName" value="{{login}}" style="display:none">

        <input type="submit" value="Reset">
    </form>


</html>

